@charset 'utf-8';

.header{background-color:#a49383;position:fixed;left:0;right:0;top:0;z-index:2;}
.header-container{padding:18px 20px 26px;}
.header .contents{display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;align-content:space-between;}
.logo{width:73%;font-weight:700;font-size:36px;order:2;}
.logo span{display:contents}

