@charset 'utf-8';

.tlt{position:absolute; left:43%; top:12%; display: flex; z-index:1;}
.tlt{font-size: 50px; color:royalblue;}

.box{background-color:burlywood; position:absolute; width: 100%; height: 100%;z-index: -9999;}

.img-box01{position:absolute; width: 20%; left:20%; top:50%; transform: translate(-50%,-50%); display: flex;z-index: 1;}
.img-box02{position:absolute; width: 20%; left:50%; top:50%; transform: translate(-50%,-50%); display: flex;z-index: 1;}
.img-box03{position:absolute; width: 20%; left:80%; top:50%; transform: translate(-50%,-50%); display: flex;z-index: 1;}


.txt-box{position:absolute; width: 15%; height: 15%; left:20%; top:75%; transform: translate(-50%,-50%); display: flex;z-index: 3;}
.sub-tit{position:absolute; left:23.5%; top: -5%;}
.btn-01{position:absolute; width: 210px; height: 40px; left:5%; top: 40%; background-color: black;}

.sub-tit{font-size: 25px; color: white;}
.btn-01{font-size: 30px;}
.a{position: absolute; bottom: 20px;}








.nav{display:flex; padding:16px 20px; font-size:18px;color:#fff;position:absolute;left:80%; top:10;z-index:10;order:3;}
.nav ul{display:flex;justify-content:space-between;}
.btn-nav{width:20.3125%;color:#000;text-align:right;order:4;}